.top {
  position: absolute;
  top: 10%;
  left: -37px;
  z-index: 22;
  cursor: pointer;
}

.top p {
  color: #ffffff;
  z-index: 18;
  position: absolute;
  top: -10px;
  text-transform: uppercase;
  left: -3px;
  transform: rotate(-30deg);
}
