.card {
  width: 400px;
  height: 500px;
  border: 1px solid #828282;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close_button {
  border: none;
  background: none;
  position: fixed;
  z-index: 20;
  left: -30px;
  top: 0;
  cursor: pointer;
}

.card_img {
  position: fixed;
}