.card {
  width: 400px;
  height: 500px;
  border: 1px solid #828282;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px;
}

.close_button {
  border: none;
  background: none;
  position: fixed;
  z-index: 20;
  left: -30px;
  top: 0;
  cursor: pointer;
}

.static_content {
  position: fixed;
}

.card_img {
  width: 350px;
  height: 350px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .card {
    width: 300px;
  }
  .card_img {
    width: 250px;
    height: 300px;
  }
}